<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>First episode of The Big Bang Theory</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Pilot_(The_Big_Bang_Theory)</string>
		<key>year</key>
		<string>2007</string>
	</dict>
	<key>Year of birth of Kaley Cuoco (Penny)</key>
	<dict>
		<key>url</key>
		<string>https://fr.wikipedia.org/wiki/Kaley_Cuoco</string>
		<key>year</key>
		<string>1987</string>
	</dict>
	<key>Year of birth of Jim Parson (Sheldon)</key>
	<dict>
		<key>year</key>
		<string>1980</string>
		<key>url</key>
		<string>https://fr.wikipedia.org/wiki/Jim_Parsons</string>
	</dict>
	<key>Year of birth of Simon Helberg (Howard)</key>
	<dict>
		<key>year</key>
		<string>1980</string>
		<key>url</key>
		<string>https://www.imdb.com/name/nm0374865/</string>
	</dict>
	<key>Year of birth of Johnny Galeck (Leonard)i</key>
	<dict>
		<key>url</key>
		<string>https://www.imdb.com/name/nm0301959/</string>
		<key>year</key>
		<string>1975</string>
	</dict>
	<key>Year of birth of Kunal Nayyar (Raj)</key>
	<dict>
		<key>url</key>
		<string>https://www.imdb.com/name/nm2471798/</string>
		<key>year</key>
		<string>1981</string>
	</dict>
	<key>Last episode of The Big Bang Theory</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Big_Bang_Theory</string>
		<key>year</key>
		<string>2019</string>
	</dict>
	<key>Year of the first Star Wars</key>
	<dict>
		<key>year</key>
		<string>1977</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Star_Wars</string>
	</dict>
	<key>Year of the first episode of Star Trek: The Original Series</key>
	<dict>
		<key>year</key>
		<string>1966</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Star_Trek:_The_Original_Series</string>
	</dict>
	<key>Year of the first episode of Star Trek: The Next Generation</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Star_Trek:_The_Next_Generation</string>
		<key>year</key>
		<string>1987</string>
	</dict>
	<key>Year of birth of Leonard Nimoy</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Leonard_Nimoy</string>
		<key>year</key>
		<string>1931</string>
	</dict>
	<key>Release date of World of Warcraft</key>
	<dict>
		<key>year</key>
		<string>2004</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/World_of_Warcraft</string>
	</dict>
	<key>Release date of Mario</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Mario_(franchise)</string>
		<key>year</key>
		<string>1981</string>
	</dict>
	<key>Year of creation of The Big Comic Magazine</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/DC_Comics</string>
		<key>year</key>
		<string>1935</string>
	</dict>
	<key>First apparition of The Flash</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Flash_(comics)</string>
		<key>year</key>
		<string>1940</string>
	</dict>
	<key>First apparition of Aquaman</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Aquaman</string>
		<key>year</key>
		<string>1941</string>
	</dict>
	<key>First apparition of Superman</key>
	<dict>
		<key>year</key>
		<string>1938</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Superman</string>
	</dict>
	<key>Release of the first novel of Harry Potter</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Harry_Potter</string>
		<key>year</key>
		<string>1997</string>
	</dict>
	<key>Release of the third novel of Harry Potter</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Harry_Potter</string>
		<key>year</key>
		<string>1999</string>
	</dict>
	<key>First apparition of Wil Wheaton</key>
	<dict>
		<key>year</key>
		<string>2009</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Wil_Wheaton</string>
	</dict>
	<key>Year of foundation of CalTech</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/California_Institute_of_Technology</string>
		<key>year</key>
		<string>1891</string>
	</dict>
	<key>Year of birth of Stephen Hawking</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Stephen_Hawking</string>
		<key>year</key>
		<string>1942</string>
	</dict>
	<key>First apparition of Bernadette</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/Melissa_Rauch</string>
		<key>year</key>
		<string>2009</string>
	</dict>
	<key>First apparition of Amy</key>
	<dict>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/List_of_The_Big_Bang_Theory_characters#Amy</string>
		<key>year</key>
		<string>2010</string>
	</dict>
	<key>First The Cheesecake Factory ouverture</key>
	<dict>
		<key>year</key>
		<string>1978</string>
		<key>url</key>
		<string>https://en.wikipedia.org/wiki/The_Cheesecake_Factory#In_popular_culture</string>
	</dict>
</dict>
</plist>
