<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 25</key>
	<string>1200</string>
	<key>New item - 24</key>
	<string>1990</string>
	<key>New item - 23</key>
	<string>1924</string>
	<key>New item - 22</key>
	<string>1997</string>
	<key>New item - 21</key>
	<string>100</string>
	<key>New item - 20</key>
	<string>1967</string>
	<key>New item - 19</key>
	<string>1987</string>
	<key>New item - 18</key>
	<string>1945</string>
	<key>New item - 17</key>
	<string>2010</string>
	<key>New item - 16</key>
	<string>2011</string>
	<key>New item - 15</key>
	<string>1978</string>
	<key>New item - 14</key>
	<string>2018</string>
	<key>New item - 13</key>
	<string>1954</string>
	<key>New item - 12</key>
	<string>1932</string>
	<key>New item - 11</key>
	<string>2003</string>
	<key>New item - 10</key>
	<string>1997</string>
	<key>New item - 9</key>
	<string>1970</string>
	<key>New item - 8</key>
	<string>1948</string>
	<key>New item - 7</key>
	<string>1950</string>
	<key>New item - 6</key>
	<string>1969</string>
	<key>New item - 5</key>
	<string>1966</string>
	<key>New item - 4</key>
	<string>200</string>
	<key>New item - 3</key>
	<string>-100</string>
	<key>New item - 2</key>
	<string>2000</string>
	<key>New item - 1</key>
	<string>1900</string>
</dict>
</plist>
